body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-image: url("red_background.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color:lemonchiffon;
}

#message-el {
    font-style: italic;
}

#player-el {
    font-size:150%;
    color:plum
}

button {
    color:seagreen;
    height: 40px;
    width: 150px;
    background:lemonchiffon;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 2px 10px;
}

#dealer-el {
    padding-top: 80px;
}

#dealerTitle {
    font-size:150%;
    color:powderblue;
}

#result-el {
    font-size:200%;
    color:thistle;
    font-weight:bold;
}

#card-pic-el {
    height:150px;
    width: 150px;
}

#name-el {
    border-style:double;
    border-color: thistle;
    border-radius: 10px;
    width:80%;
}

.modal-title {
    color:seagreen;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(:disabled):active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: seagreen;
    color:white;
    border:none;
}

/* .btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color:dimgray;
    color:white;
    border:none;
} */


/* .modal-body {
    
} */
/* #card-pic {
    display:flex;
    margin-left:10%;

} */