body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-image: url("red_background.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color:lemonchiffon;
}

#message-el {
    font-style: italic;
}

#player-el {
    font-size:150%;
    color:plum;
}

button {
    color:rgb(87, 183, 129);
    height: 40px;
    width: 150px;
    background:lemonchiffon;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 2px 10px;
}

#dealer-el {
    padding-top: 80px;
}

#dealerTitle {
    font-size:150%;
    color:powderblue;
}

#result-el {
    font-size:200%;
    color:thistle;
    font-weight:bold;
}

#card-pic-el {
    height:150px;
    width: 150px;
}

#name-el {
    border-style:double;
    border-color: thistle;
    border-radius: 10px;
    width:80%;
}

#change_pyr-el {
    background-color:plum;
    color:rgb(39, 39, 39);
    font-style: italic;
}

#place_bets-el {
    background-color:rgb(122, 214, 226);
    color:rgb(39, 39, 39);
    font-style: italic;
}

.modal-title {
    color:rgb(87, 183, 129);
}


.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(:disabled):active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgb(87, 183, 129);
    color:white;
    border:none;
}

