body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background: #3c3327;
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: lemonchiffon;
}

h5 {
  text-decoration-line: underline;
}

#message-el {
  font-style: italic;
  margin-bottom: 10px;
}

#player-el {
  font-size: 150%;
  color: plum;
}

#chipsp-el {
  color: rgb(238, 205, 185);
}

#bet-amt-el {
  color: rgb(238, 205, 185)
}

#page_pc-el {
  color:  rgb(238, 205, 185);
}

#bet-el {
  color:rgb(238, 205, 185);
}

button {
  color: #3c3327;
  height: 40px;
  width: 150px;
  background: lemonchiffon;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 2px 10px;
}

a {
  color: rgb(122, 214, 226);
}
a:hover {
  color: rgb(122, 214, 226);
}

#dealer-el {
  padding-top: 80px;
}

#dealerTitle {
  font-size: 150%;
  color: darkseagreen;
}

#result-el {
  font-size: 200%;
  color: thistle;
  font-weight: bold;
}

#card-pic-el {
  height: 150px;
  width: 150px;
}

#name-el {
  border-style: double;
  border-color: thistle;
  border-radius: 10px;
  width: 80%;
}

#change_pyr-el {
  background-color: plum;
  color: #3c3327;
  font-size: 12px;
  font-weight: bold;
}

#place_bets-el {
  background-color: rgb(238, 205, 185);
  color: #3c3327;
  font-size: 12px;
  font-weight: bold;
}

#placeBetsModalLabel {
  color: black;
}

#saveChipChanges-el {
  background-color: black;
  color: white;
}

#nameModalLabel {
  color: black;
}

#savePlayerName-el {
  background-color: black;
  color:white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top:40px;
}

.custom-src {
  margin-top: 100px;
  font-size: xx-small;
}
.side-margin {
  margin-left: 10px;
  margin-right: 10px;
}
.waviy {
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 20px;
}
.waviy p {
  text-transform: uppercase;
  animation: waviy 1s infinite;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}


.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(:disabled):active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgb(87, 183, 129);
  color: white;
  border: none;
}
